
@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}
@font-face {
    font-family: 'Big Shoulders Display';
    src: url('../fonts/Big_Shoulders_Display/BigShouldersDisplay-Bold.ttf');
}